@charset 'utf-8';
@import 'settings';
@import 'foundation';

@include foundation-global-styles;
@include foundation-grid;
//@include foundation-flex-grid;
@include foundation-typography;
// @include foundation-button;
@include foundation-forms;
// @include foundation-visibility-classes;
// @include foundation-float-classes;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-close-button;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-flex-video;
// @include foundation-label;
// @include foundation-media-object;
// @include foundation-menu;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;

// @include motion-ui-transitions;
// @include motion-ui-animations;
@import 'global';

/* CSS Normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
body {
  font-size: 1em;
  font-size: 1.1em;

  @include breakpoint(medium) {
    // font-size: 1.1em;
  }

  @include breakpoint(large) {
    font-size: 1.25em;
  }
}
h1, h2, h3 {
  text-transform: uppercase;
}
h3 {
  line-height: 1.1;

  a {
    color: $color-dark;

    &:hover {
      color: $color-dark;
      text-decoration: underline;
    }
  }
}
section {
	padding-top: 1.5em;
	padding-bottom: 1.5em;

  h2 {
    text-align: center;
    margin-bottom: 1.2em;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: calc(125% - 0.5em);
      left: calc(50% - 0.3em);
      width: 0.6em;
      height: 1em;
      padding: 10px;
      background-color: $white;
      background-image: url(hex-dark.png);
      background-size: 0.3em auto;
      background-repeat: no-repeat;
      background-position: center center;
      z-index: 2;
    }

    &:after {
      content: '';
      width: 4em;
      border-bottom: solid 0.1em $color-dark;
      position: absolute;
      left: calc(50% - 2em);
      top: calc(125% - 0.05em);
      z-index: 1;
      margin-bottom: 1em;
    }
  }

  &.section--light {
   h2 {
    &:before {
      background-color: $color-grey;
    }   
  }
}

  &.section--dark {
    h2 {
      &:before {
        background-color: $color-dark;
        background-image: url(hex-light.png);
      }
      &:after {
        border-color: $white;
      }
    }
  }
}
.section--light {
	background-color: $color-grey;
}
.section--dark {
  color: white;
  background-color: $color-dark;
}
.page-header {
  background-color: $color-dark;
  background: linear-gradient(lighten($color-dark, 2%), darken($color-dark, 5%));
  box-shadow: 0 0 10px $color-dark;
	color: white;
	font-size: 1.8em;
	text-transform: uppercase;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
	font-family: 'refrigerator-deluxe', 'arial', 'sans-serif';
  position: relative;

	a {
		color: white;
		transition: opacity 0.25s ease-out;

		&:hover, &:focus, &:active {
			color: white;
			opacity: 0.75
		}
	}

	ul {
		list-style: none;

		li {
			display: inline;
		}
	}
}
nav {
  span {
    display: block;

    a {
      display: block;
    }
  }

  @include breakpoint(medium) {  
    span {
      width: 50%;
      float: left;
      text-align: center;

      a {
        width: 50%;
        float: left;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
      }
    }
  }

  @include breakpoint(large) {
  display: flex !important; 
  justify-content: space-between; 
  // background-image: url(red-paint-texture.jpg); 
  background-size: cover; 
    span { 
    width: 40%;
    display: flex;
    justify-content: space-around;
  }
  a {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
  }
  }
}
.page-footer {
  background-color: $color-dark;
  min-height: 2em;
}
.masthead {
  background-image: url('jp.png');
  padding-bottom: 85vw;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 85% auto;

  @include breakpoint(medium) {
    background-size: 40% auto;
    padding-bottom: 3em;
    background-position: bottom right;
    min-height: 500px;
  }

  h1 {
    text-align: left;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }

  font-size: 1.2em;
  p {

    @include breakpoint(medium) {
      max-width: 60%;
    }
  }

  a {
    display: inline-block;
    margin-right: 1em;
    margin-top: 1em;
    border-bottom: 2px solid $primary-color;
  }
}
.portfolio-item {
  padding-top: 1.5em;
	padding-bottom: 2.5em;
}

ul {
	margin-left: 1.1em
}

.button {
	margin-top: 1.5em;
	border: 3px solid $color-dark;
	font-size: 1.2em;
	padding: 0.5em;
	background-color: transparent;
	font-family: $header-font-family;
	color: $color-dark;
	text-transform: uppercase;
	transition: background-color .25s ease-out,color .25s ease-out, scale .25s ease-out;

	&:hover, &:focus {
		background-color: $color-dark;
		color: white;
	}

	&:active {
		transform: scale(0.92)
	}
}

.contact-details {
  p {
    margin-bottom: 1.5em;
  }
}

.contact-detail {
	font-size: 1.2em;
	margin-bottom: 1em;

  @include breakpoint(large) {
    font-size: 1.4em;
  }
}

// .container {
//   display: flex; 
//   justify-content: space-around;
//   align-items: center;
//   margin: 25px 0;
// }
.logo {
  // order: 1;
  // padding: 1em;
  // border-radius: 100%;
  // background: #111;
  // box-shadow:
  // 0 0 0 3px #beddef,
  // 0 0 0 15px #111;
  // font-size: 64px;
  // color: #beddef;
  // line-height: 32px;
  // padding: 24px;
  position: absolute;
  width: 2.5em;
  transition: margin .5s ease-out, width .5s ease-out;
  bottom: -0.7em;
  left: 0.75em;
  transform: none;

  @include breakpoint(large) {
    width: 3em;
    margin-left: calc(50% - 1.5em);
    margin-right: auto;
    bottom: -0.8em;
    left: 0;
    right: 0;
  }

  filter: drop-shadow(0 0 10px $color-dark);
}

.item:nth-of-type(n+3) {
  order: 2;
}
@media all and (max-width: 799px) {
  .container {
    flex-direction: column;
    align-items: stretch;
  }
  // .logo {
  //   order: 0;
  //   text-align: center;
  //   width: 100px;
  //   margin: auto auto 20px;
  // }
  .item {
    text-align: center;
    // border-bottom: 1px solid #111;
  }
}
.about-me, .skills {
  .columns {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}
.contact-form {
  // padding-bottom: 1em;
  label {
    input, textarea {
      margin-top: 0.5em;
      font-size: 1em;
    }
  }
  input.button {
    font-size: 1.2em;
    margin-top: 1.5em;
  }
  @include breakpoint(small only) {
    &:after {
      margin-top: 2em;
      content: '';
      display: block;
      background-color: #bbb;
      width: 100%;
      height: 1px;
    }
  }
}

.contact-details {
  padding-top: 0;
  @include breakpoint(small only) {
    &:before {
      margin-bottom: 1em;
      content: '';
      display: block;
      background-color: #fff;
      width: 100%;
      height: 2px;
    }
  }
}

.nav-toggle {
  @include breakpoint(medium) {
    padding-top: 0.1em !important;
  }
}