html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: gill-sans-nova, sans-serif;
}

.page {
  width: 210mm;
  min-height: 297mm;
  height: 297mm;
  overflow: hidden;
  padding: 10mm;
  margin: 10mm auto;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-column-gap: 3em;
  grid-template-rows: auto auto;
}
h1, h2, .work h3, .work time {
  font-family: "refrigerator-deluxe", "arial", "sans-serif";
  font-style: "normal";
  font-weight: normal;
  color: inherit;
  text-rendering: optimizeLegibility;
}
h1 {
  margin: 0;
}
h1, h2 {
  text-transform: uppercase;
}
h2 {
  display: inline-block;
  border-bottom: 3px solid #141b2e;
  /*padding-bottom: 2px;*/
  font-size: 1.2em;
  margin: 1em 0;
}
h3 {
  margin: 0;
  font-size: 1em;
}
.work h3 {
  font-size: 1.5em;
}
h4, .skills-education h3 {
  /*font-size: 1.1em;*/
  font-weight: 600;
  margin: 0;
}
p, ul {
  margin: 0;
  padding: 0;
}
ul {
  padding-left: 1.5em;
  margin-top: 0.25em;
}
time {
  color: #333;
  text-transform: uppercase;
  font-size: 0.9em;
  display: inline-block;
}
summary::-webkit-details-marker{
  display:none
}
header {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  display: flex;
  max-width: 100%;
  padding-right: 2em;
  margin-bottom: 12px;
}
header > * {
  flex: 1;
  /*min-width: 250px;*/
}
header .name {
  flex: 1.35;
}
header ul {
  list-style: none;
}
header ul li {
  margin: 12px 0;
}
.work {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}
.skills-education {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
header h1 {
  font-size: 2.75em;
}
header span {
  font-weight: 600;
  font-size: 1.2em;
}
.header ul {

}
.contact ul {
  list-style: none;
  padding-left: 0;
}
.work h3 {
  display: inline-block;
  margin-right: 5px;
}
.work h4 {
  margin-top: 0.8em;
}
.work details, .education details {
  margin-bottom: 1.5em;
}
.work time, .education time {
  font-weight: 600;
  margin: 0.25em 0;
  font-size: 0.75em;
  color: initial;
}
.work time {
  font-size: 0.85em;
}
.skills {
  margin-bottom: 2em;
}
.skills ul {
  margin-top: 0.25em;
  margin-bottom: 1em;
}
.medium {
  font-weight: 500;
}
.icon {
  background-size: 1em 1em;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 1.6em;
}
.icon-email {
  background-position: left 5px;
  background-image: url('/iconfinder_8-Email_2674096.png');
}
.icon-phone {
  background-image: url('/iconfinder_phone_2639886.png');
  background-position: 1px center;
}
.icon-marker {
  background-image: url('/iconfinder_map-location-pin-map-marker-glyph_763236.png');
  background-position: 2px center;
}
.icon-web {
  background-image: url('/iconfinder_075_Globe_183204.png');
}