@charset "UTF-8";
/**
 * Foundation for Sites by ZURB
 * Version 6.4.3
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Change the default font family in all browsers (opinionated).
     * 2. Correct the line height in all browsers.
     * 3. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
     * Remove the outline on focused links when they are also active or hovered
     * in all browsers (opinionated).
     */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Change the border, margin, and padding in all browsers (opinionated).
     */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

.foundation-mq {
  font-family: "small=0em&medium=33.75em&large=50em&xlarge=64em&xxlarge=75em"; }

html {
  box-sizing: border-box;
  font-size: 100%; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  background: #fefefe;
  font-family: "ff-tisa-web-pro", "arial", "sans-serif";
  font-weight: normal;
  line-height: 1.5;
  color: #141b2e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic; }

textarea {
  height: auto;
  min-height: 50px;
  border-radius: 0; }

select {
  box-sizing: border-box;
  width: 100%;
  border-radius: 0; }

.map_canvas img,
.map_canvas embed,
.map_canvas object,
.mqa-display img,
.mqa-display embed,
.mqa-display object {
  max-width: none !important; }

button {
  padding: 0;
  appearance: none;
  border: 0;
  border-radius: 0;
  background: transparent;
  line-height: 1;
  cursor: auto; }
  [data-whatinput='mouse'] button {
    outline: 0; }

pre {
  overflow: auto; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; }

.is-visible {
  display: block !important; }

.is-hidden {
  display: none !important; }

.row {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto; }
  .row::before, .row::after {
    display: table;
    content: ' '; }
  .row::after {
    clear: both; }
  .row.collapse > .column, .row.collapse > .columns {
    padding-right: 0;
    padding-left: 0; }
  .row .row {
    margin-right: -1.5625rem;
    margin-left: -1.5625rem; }
    @media print, screen and (min-width: 33.75em) {
      .row .row {
        margin-right: -1.5625rem;
        margin-left: -1.5625rem; } }
    @media print, screen and (min-width: 50em) {
      .row .row {
        margin-right: -1.5625rem;
        margin-left: -1.5625rem; } }
    .row .row.collapse {
      margin-right: 0;
      margin-left: 0; }
  .row.expanded {
    max-width: none; }
    .row.expanded .row {
      margin-right: auto;
      margin-left: auto; }
  .row:not(.expanded) .row {
    max-width: none; }
  .row.gutter-small > .column, .row.gutter-small > .columns {
    padding-right: 1.5625rem;
    padding-left: 1.5625rem; }
  .row.gutter-medium > .column, .row.gutter-medium > .columns {
    padding-right: 1.5625rem;
    padding-left: 1.5625rem; }

.column, .columns {
  width: 100%;
  float: left;
  padding-right: 1.5625rem;
  padding-left: 1.5625rem; }
  @media print, screen and (min-width: 33.75em) {
    .column, .columns {
      padding-right: 1.5625rem;
      padding-left: 1.5625rem; } }
  .column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
    float: right; }
  .column.end:last-child:last-child, .end.columns:last-child:last-child {
    float: left; }

.column.row.row, .row.row.columns {
  float: none; }

.row .column.row.row, .row .row.row.columns {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0; }

.small-1 {
  width: 4.16667%; }

.small-push-1 {
  position: relative;
  left: 4.16667%; }

.small-pull-1 {
  position: relative;
  left: -4.16667%; }

.small-offset-0 {
  margin-left: 0%; }

.small-2 {
  width: 8.33333%; }

.small-push-2 {
  position: relative;
  left: 8.33333%; }

.small-pull-2 {
  position: relative;
  left: -8.33333%; }

.small-offset-1 {
  margin-left: 4.16667%; }

.small-3 {
  width: 12.5%; }

.small-push-3 {
  position: relative;
  left: 12.5%; }

.small-pull-3 {
  position: relative;
  left: -12.5%; }

.small-offset-2 {
  margin-left: 8.33333%; }

.small-4 {
  width: 16.66667%; }

.small-push-4 {
  position: relative;
  left: 16.66667%; }

.small-pull-4 {
  position: relative;
  left: -16.66667%; }

.small-offset-3 {
  margin-left: 12.5%; }

.small-5 {
  width: 20.83333%; }

.small-push-5 {
  position: relative;
  left: 20.83333%; }

.small-pull-5 {
  position: relative;
  left: -20.83333%; }

.small-offset-4 {
  margin-left: 16.66667%; }

.small-6 {
  width: 25%; }

.small-push-6 {
  position: relative;
  left: 25%; }

.small-pull-6 {
  position: relative;
  left: -25%; }

.small-offset-5 {
  margin-left: 20.83333%; }

.small-7 {
  width: 29.16667%; }

.small-push-7 {
  position: relative;
  left: 29.16667%; }

.small-pull-7 {
  position: relative;
  left: -29.16667%; }

.small-offset-6 {
  margin-left: 25%; }

.small-8 {
  width: 33.33333%; }

.small-push-8 {
  position: relative;
  left: 33.33333%; }

.small-pull-8 {
  position: relative;
  left: -33.33333%; }

.small-offset-7 {
  margin-left: 29.16667%; }

.small-9 {
  width: 37.5%; }

.small-push-9 {
  position: relative;
  left: 37.5%; }

.small-pull-9 {
  position: relative;
  left: -37.5%; }

.small-offset-8 {
  margin-left: 33.33333%; }

.small-10 {
  width: 41.66667%; }

.small-push-10 {
  position: relative;
  left: 41.66667%; }

.small-pull-10 {
  position: relative;
  left: -41.66667%; }

.small-offset-9 {
  margin-left: 37.5%; }

.small-11 {
  width: 45.83333%; }

.small-push-11 {
  position: relative;
  left: 45.83333%; }

.small-pull-11 {
  position: relative;
  left: -45.83333%; }

.small-offset-10 {
  margin-left: 41.66667%; }

.small-12 {
  width: 50%; }

.small-push-12 {
  position: relative;
  left: 50%; }

.small-pull-12 {
  position: relative;
  left: -50%; }

.small-offset-11 {
  margin-left: 45.83333%; }

.small-13 {
  width: 54.16667%; }

.small-push-13 {
  position: relative;
  left: 54.16667%; }

.small-pull-13 {
  position: relative;
  left: -54.16667%; }

.small-offset-12 {
  margin-left: 50%; }

.small-14 {
  width: 58.33333%; }

.small-push-14 {
  position: relative;
  left: 58.33333%; }

.small-pull-14 {
  position: relative;
  left: -58.33333%; }

.small-offset-13 {
  margin-left: 54.16667%; }

.small-15 {
  width: 62.5%; }

.small-push-15 {
  position: relative;
  left: 62.5%; }

.small-pull-15 {
  position: relative;
  left: -62.5%; }

.small-offset-14 {
  margin-left: 58.33333%; }

.small-16 {
  width: 66.66667%; }

.small-push-16 {
  position: relative;
  left: 66.66667%; }

.small-pull-16 {
  position: relative;
  left: -66.66667%; }

.small-offset-15 {
  margin-left: 62.5%; }

.small-17 {
  width: 70.83333%; }

.small-push-17 {
  position: relative;
  left: 70.83333%; }

.small-pull-17 {
  position: relative;
  left: -70.83333%; }

.small-offset-16 {
  margin-left: 66.66667%; }

.small-18 {
  width: 75%; }

.small-push-18 {
  position: relative;
  left: 75%; }

.small-pull-18 {
  position: relative;
  left: -75%; }

.small-offset-17 {
  margin-left: 70.83333%; }

.small-19 {
  width: 79.16667%; }

.small-push-19 {
  position: relative;
  left: 79.16667%; }

.small-pull-19 {
  position: relative;
  left: -79.16667%; }

.small-offset-18 {
  margin-left: 75%; }

.small-20 {
  width: 83.33333%; }

.small-push-20 {
  position: relative;
  left: 83.33333%; }

.small-pull-20 {
  position: relative;
  left: -83.33333%; }

.small-offset-19 {
  margin-left: 79.16667%; }

.small-21 {
  width: 87.5%; }

.small-push-21 {
  position: relative;
  left: 87.5%; }

.small-pull-21 {
  position: relative;
  left: -87.5%; }

.small-offset-20 {
  margin-left: 83.33333%; }

.small-22 {
  width: 91.66667%; }

.small-push-22 {
  position: relative;
  left: 91.66667%; }

.small-pull-22 {
  position: relative;
  left: -91.66667%; }

.small-offset-21 {
  margin-left: 87.5%; }

.small-23 {
  width: 95.83333%; }

.small-push-23 {
  position: relative;
  left: 95.83333%; }

.small-pull-23 {
  position: relative;
  left: -95.83333%; }

.small-offset-22 {
  margin-left: 91.66667%; }

.small-24 {
  width: 100%; }

.small-offset-23 {
  margin-left: 95.83333%; }

.small-up-1 > .column, .small-up-1 > .columns {
  float: left;
  width: 100%; }
  .small-up-1 > .column:nth-of-type(1n), .small-up-1 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-1 > .column:nth-of-type(1n+1), .small-up-1 > .columns:nth-of-type(1n+1) {
    clear: both; }
  .small-up-1 > .column:last-child, .small-up-1 > .columns:last-child {
    float: left; }

.small-up-2 > .column, .small-up-2 > .columns {
  float: left;
  width: 50%; }
  .small-up-2 > .column:nth-of-type(1n), .small-up-2 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-2 > .column:nth-of-type(2n+1), .small-up-2 > .columns:nth-of-type(2n+1) {
    clear: both; }
  .small-up-2 > .column:last-child, .small-up-2 > .columns:last-child {
    float: left; }

.small-up-3 > .column, .small-up-3 > .columns {
  float: left;
  width: 33.33333%; }
  .small-up-3 > .column:nth-of-type(1n), .small-up-3 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-3 > .column:nth-of-type(3n+1), .small-up-3 > .columns:nth-of-type(3n+1) {
    clear: both; }
  .small-up-3 > .column:last-child, .small-up-3 > .columns:last-child {
    float: left; }

.small-up-4 > .column, .small-up-4 > .columns {
  float: left;
  width: 25%; }
  .small-up-4 > .column:nth-of-type(1n), .small-up-4 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-4 > .column:nth-of-type(4n+1), .small-up-4 > .columns:nth-of-type(4n+1) {
    clear: both; }
  .small-up-4 > .column:last-child, .small-up-4 > .columns:last-child {
    float: left; }

.small-up-5 > .column, .small-up-5 > .columns {
  float: left;
  width: 20%; }
  .small-up-5 > .column:nth-of-type(1n), .small-up-5 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-5 > .column:nth-of-type(5n+1), .small-up-5 > .columns:nth-of-type(5n+1) {
    clear: both; }
  .small-up-5 > .column:last-child, .small-up-5 > .columns:last-child {
    float: left; }

.small-up-6 > .column, .small-up-6 > .columns {
  float: left;
  width: 16.66667%; }
  .small-up-6 > .column:nth-of-type(1n), .small-up-6 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-6 > .column:nth-of-type(6n+1), .small-up-6 > .columns:nth-of-type(6n+1) {
    clear: both; }
  .small-up-6 > .column:last-child, .small-up-6 > .columns:last-child {
    float: left; }

.small-up-7 > .column, .small-up-7 > .columns {
  float: left;
  width: 14.28571%; }
  .small-up-7 > .column:nth-of-type(1n), .small-up-7 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-7 > .column:nth-of-type(7n+1), .small-up-7 > .columns:nth-of-type(7n+1) {
    clear: both; }
  .small-up-7 > .column:last-child, .small-up-7 > .columns:last-child {
    float: left; }

.small-up-8 > .column, .small-up-8 > .columns {
  float: left;
  width: 12.5%; }
  .small-up-8 > .column:nth-of-type(1n), .small-up-8 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-8 > .column:nth-of-type(8n+1), .small-up-8 > .columns:nth-of-type(8n+1) {
    clear: both; }
  .small-up-8 > .column:last-child, .small-up-8 > .columns:last-child {
    float: left; }

.small-collapse > .column, .small-collapse > .columns {
  padding-right: 0;
  padding-left: 0; }

.small-collapse .row {
  margin-right: 0;
  margin-left: 0; }

.expanded.row .small-collapse.row {
  margin-right: 0;
  margin-left: 0; }

.small-uncollapse > .column, .small-uncollapse > .columns {
  padding-right: 1.5625rem;
  padding-left: 1.5625rem; }

.small-centered {
  margin-right: auto;
  margin-left: auto; }
  .small-centered, .small-centered:last-child:not(:first-child) {
    float: none;
    clear: both; }

.small-uncentered,
.small-push-0,
.small-pull-0 {
  position: static;
  float: left;
  margin-right: 0;
  margin-left: 0; }

@media print, screen and (min-width: 33.75em) {
  .medium-1 {
    width: 4.16667%; }
  .medium-push-1 {
    position: relative;
    left: 4.16667%; }
  .medium-pull-1 {
    position: relative;
    left: -4.16667%; }
  .medium-offset-0 {
    margin-left: 0%; }
  .medium-2 {
    width: 8.33333%; }
  .medium-push-2 {
    position: relative;
    left: 8.33333%; }
  .medium-pull-2 {
    position: relative;
    left: -8.33333%; }
  .medium-offset-1 {
    margin-left: 4.16667%; }
  .medium-3 {
    width: 12.5%; }
  .medium-push-3 {
    position: relative;
    left: 12.5%; }
  .medium-pull-3 {
    position: relative;
    left: -12.5%; }
  .medium-offset-2 {
    margin-left: 8.33333%; }
  .medium-4 {
    width: 16.66667%; }
  .medium-push-4 {
    position: relative;
    left: 16.66667%; }
  .medium-pull-4 {
    position: relative;
    left: -16.66667%; }
  .medium-offset-3 {
    margin-left: 12.5%; }
  .medium-5 {
    width: 20.83333%; }
  .medium-push-5 {
    position: relative;
    left: 20.83333%; }
  .medium-pull-5 {
    position: relative;
    left: -20.83333%; }
  .medium-offset-4 {
    margin-left: 16.66667%; }
  .medium-6 {
    width: 25%; }
  .medium-push-6 {
    position: relative;
    left: 25%; }
  .medium-pull-6 {
    position: relative;
    left: -25%; }
  .medium-offset-5 {
    margin-left: 20.83333%; }
  .medium-7 {
    width: 29.16667%; }
  .medium-push-7 {
    position: relative;
    left: 29.16667%; }
  .medium-pull-7 {
    position: relative;
    left: -29.16667%; }
  .medium-offset-6 {
    margin-left: 25%; }
  .medium-8 {
    width: 33.33333%; }
  .medium-push-8 {
    position: relative;
    left: 33.33333%; }
  .medium-pull-8 {
    position: relative;
    left: -33.33333%; }
  .medium-offset-7 {
    margin-left: 29.16667%; }
  .medium-9 {
    width: 37.5%; }
  .medium-push-9 {
    position: relative;
    left: 37.5%; }
  .medium-pull-9 {
    position: relative;
    left: -37.5%; }
  .medium-offset-8 {
    margin-left: 33.33333%; }
  .medium-10 {
    width: 41.66667%; }
  .medium-push-10 {
    position: relative;
    left: 41.66667%; }
  .medium-pull-10 {
    position: relative;
    left: -41.66667%; }
  .medium-offset-9 {
    margin-left: 37.5%; }
  .medium-11 {
    width: 45.83333%; }
  .medium-push-11 {
    position: relative;
    left: 45.83333%; }
  .medium-pull-11 {
    position: relative;
    left: -45.83333%; }
  .medium-offset-10 {
    margin-left: 41.66667%; }
  .medium-12 {
    width: 50%; }
  .medium-push-12 {
    position: relative;
    left: 50%; }
  .medium-pull-12 {
    position: relative;
    left: -50%; }
  .medium-offset-11 {
    margin-left: 45.83333%; }
  .medium-13 {
    width: 54.16667%; }
  .medium-push-13 {
    position: relative;
    left: 54.16667%; }
  .medium-pull-13 {
    position: relative;
    left: -54.16667%; }
  .medium-offset-12 {
    margin-left: 50%; }
  .medium-14 {
    width: 58.33333%; }
  .medium-push-14 {
    position: relative;
    left: 58.33333%; }
  .medium-pull-14 {
    position: relative;
    left: -58.33333%; }
  .medium-offset-13 {
    margin-left: 54.16667%; }
  .medium-15 {
    width: 62.5%; }
  .medium-push-15 {
    position: relative;
    left: 62.5%; }
  .medium-pull-15 {
    position: relative;
    left: -62.5%; }
  .medium-offset-14 {
    margin-left: 58.33333%; }
  .medium-16 {
    width: 66.66667%; }
  .medium-push-16 {
    position: relative;
    left: 66.66667%; }
  .medium-pull-16 {
    position: relative;
    left: -66.66667%; }
  .medium-offset-15 {
    margin-left: 62.5%; }
  .medium-17 {
    width: 70.83333%; }
  .medium-push-17 {
    position: relative;
    left: 70.83333%; }
  .medium-pull-17 {
    position: relative;
    left: -70.83333%; }
  .medium-offset-16 {
    margin-left: 66.66667%; }
  .medium-18 {
    width: 75%; }
  .medium-push-18 {
    position: relative;
    left: 75%; }
  .medium-pull-18 {
    position: relative;
    left: -75%; }
  .medium-offset-17 {
    margin-left: 70.83333%; }
  .medium-19 {
    width: 79.16667%; }
  .medium-push-19 {
    position: relative;
    left: 79.16667%; }
  .medium-pull-19 {
    position: relative;
    left: -79.16667%; }
  .medium-offset-18 {
    margin-left: 75%; }
  .medium-20 {
    width: 83.33333%; }
  .medium-push-20 {
    position: relative;
    left: 83.33333%; }
  .medium-pull-20 {
    position: relative;
    left: -83.33333%; }
  .medium-offset-19 {
    margin-left: 79.16667%; }
  .medium-21 {
    width: 87.5%; }
  .medium-push-21 {
    position: relative;
    left: 87.5%; }
  .medium-pull-21 {
    position: relative;
    left: -87.5%; }
  .medium-offset-20 {
    margin-left: 83.33333%; }
  .medium-22 {
    width: 91.66667%; }
  .medium-push-22 {
    position: relative;
    left: 91.66667%; }
  .medium-pull-22 {
    position: relative;
    left: -91.66667%; }
  .medium-offset-21 {
    margin-left: 87.5%; }
  .medium-23 {
    width: 95.83333%; }
  .medium-push-23 {
    position: relative;
    left: 95.83333%; }
  .medium-pull-23 {
    position: relative;
    left: -95.83333%; }
  .medium-offset-22 {
    margin-left: 91.66667%; }
  .medium-24 {
    width: 100%; }
  .medium-offset-23 {
    margin-left: 95.83333%; }
  .medium-up-1 > .column, .medium-up-1 > .columns {
    float: left;
    width: 100%; }
    .medium-up-1 > .column:nth-of-type(1n), .medium-up-1 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-1 > .column:nth-of-type(1n+1), .medium-up-1 > .columns:nth-of-type(1n+1) {
      clear: both; }
    .medium-up-1 > .column:last-child, .medium-up-1 > .columns:last-child {
      float: left; }
  .medium-up-2 > .column, .medium-up-2 > .columns {
    float: left;
    width: 50%; }
    .medium-up-2 > .column:nth-of-type(1n), .medium-up-2 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-2 > .column:nth-of-type(2n+1), .medium-up-2 > .columns:nth-of-type(2n+1) {
      clear: both; }
    .medium-up-2 > .column:last-child, .medium-up-2 > .columns:last-child {
      float: left; }
  .medium-up-3 > .column, .medium-up-3 > .columns {
    float: left;
    width: 33.33333%; }
    .medium-up-3 > .column:nth-of-type(1n), .medium-up-3 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-3 > .column:nth-of-type(3n+1), .medium-up-3 > .columns:nth-of-type(3n+1) {
      clear: both; }
    .medium-up-3 > .column:last-child, .medium-up-3 > .columns:last-child {
      float: left; }
  .medium-up-4 > .column, .medium-up-4 > .columns {
    float: left;
    width: 25%; }
    .medium-up-4 > .column:nth-of-type(1n), .medium-up-4 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-4 > .column:nth-of-type(4n+1), .medium-up-4 > .columns:nth-of-type(4n+1) {
      clear: both; }
    .medium-up-4 > .column:last-child, .medium-up-4 > .columns:last-child {
      float: left; }
  .medium-up-5 > .column, .medium-up-5 > .columns {
    float: left;
    width: 20%; }
    .medium-up-5 > .column:nth-of-type(1n), .medium-up-5 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-5 > .column:nth-of-type(5n+1), .medium-up-5 > .columns:nth-of-type(5n+1) {
      clear: both; }
    .medium-up-5 > .column:last-child, .medium-up-5 > .columns:last-child {
      float: left; }
  .medium-up-6 > .column, .medium-up-6 > .columns {
    float: left;
    width: 16.66667%; }
    .medium-up-6 > .column:nth-of-type(1n), .medium-up-6 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-6 > .column:nth-of-type(6n+1), .medium-up-6 > .columns:nth-of-type(6n+1) {
      clear: both; }
    .medium-up-6 > .column:last-child, .medium-up-6 > .columns:last-child {
      float: left; }
  .medium-up-7 > .column, .medium-up-7 > .columns {
    float: left;
    width: 14.28571%; }
    .medium-up-7 > .column:nth-of-type(1n), .medium-up-7 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-7 > .column:nth-of-type(7n+1), .medium-up-7 > .columns:nth-of-type(7n+1) {
      clear: both; }
    .medium-up-7 > .column:last-child, .medium-up-7 > .columns:last-child {
      float: left; }
  .medium-up-8 > .column, .medium-up-8 > .columns {
    float: left;
    width: 12.5%; }
    .medium-up-8 > .column:nth-of-type(1n), .medium-up-8 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-8 > .column:nth-of-type(8n+1), .medium-up-8 > .columns:nth-of-type(8n+1) {
      clear: both; }
    .medium-up-8 > .column:last-child, .medium-up-8 > .columns:last-child {
      float: left; }
  .medium-collapse > .column, .medium-collapse > .columns {
    padding-right: 0;
    padding-left: 0; }
  .medium-collapse .row {
    margin-right: 0;
    margin-left: 0; }
  .expanded.row .medium-collapse.row {
    margin-right: 0;
    margin-left: 0; }
  .medium-uncollapse > .column, .medium-uncollapse > .columns {
    padding-right: 1.5625rem;
    padding-left: 1.5625rem; }
  .medium-centered {
    margin-right: auto;
    margin-left: auto; }
    .medium-centered, .medium-centered:last-child:not(:first-child) {
      float: none;
      clear: both; }
  .medium-uncentered,
  .medium-push-0,
  .medium-pull-0 {
    position: static;
    float: left;
    margin-right: 0;
    margin-left: 0; } }

@media print, screen and (min-width: 50em) {
  .large-1 {
    width: 4.16667%; }
  .large-push-1 {
    position: relative;
    left: 4.16667%; }
  .large-pull-1 {
    position: relative;
    left: -4.16667%; }
  .large-offset-0 {
    margin-left: 0%; }
  .large-2 {
    width: 8.33333%; }
  .large-push-2 {
    position: relative;
    left: 8.33333%; }
  .large-pull-2 {
    position: relative;
    left: -8.33333%; }
  .large-offset-1 {
    margin-left: 4.16667%; }
  .large-3 {
    width: 12.5%; }
  .large-push-3 {
    position: relative;
    left: 12.5%; }
  .large-pull-3 {
    position: relative;
    left: -12.5%; }
  .large-offset-2 {
    margin-left: 8.33333%; }
  .large-4 {
    width: 16.66667%; }
  .large-push-4 {
    position: relative;
    left: 16.66667%; }
  .large-pull-4 {
    position: relative;
    left: -16.66667%; }
  .large-offset-3 {
    margin-left: 12.5%; }
  .large-5 {
    width: 20.83333%; }
  .large-push-5 {
    position: relative;
    left: 20.83333%; }
  .large-pull-5 {
    position: relative;
    left: -20.83333%; }
  .large-offset-4 {
    margin-left: 16.66667%; }
  .large-6 {
    width: 25%; }
  .large-push-6 {
    position: relative;
    left: 25%; }
  .large-pull-6 {
    position: relative;
    left: -25%; }
  .large-offset-5 {
    margin-left: 20.83333%; }
  .large-7 {
    width: 29.16667%; }
  .large-push-7 {
    position: relative;
    left: 29.16667%; }
  .large-pull-7 {
    position: relative;
    left: -29.16667%; }
  .large-offset-6 {
    margin-left: 25%; }
  .large-8 {
    width: 33.33333%; }
  .large-push-8 {
    position: relative;
    left: 33.33333%; }
  .large-pull-8 {
    position: relative;
    left: -33.33333%; }
  .large-offset-7 {
    margin-left: 29.16667%; }
  .large-9 {
    width: 37.5%; }
  .large-push-9 {
    position: relative;
    left: 37.5%; }
  .large-pull-9 {
    position: relative;
    left: -37.5%; }
  .large-offset-8 {
    margin-left: 33.33333%; }
  .large-10 {
    width: 41.66667%; }
  .large-push-10 {
    position: relative;
    left: 41.66667%; }
  .large-pull-10 {
    position: relative;
    left: -41.66667%; }
  .large-offset-9 {
    margin-left: 37.5%; }
  .large-11 {
    width: 45.83333%; }
  .large-push-11 {
    position: relative;
    left: 45.83333%; }
  .large-pull-11 {
    position: relative;
    left: -45.83333%; }
  .large-offset-10 {
    margin-left: 41.66667%; }
  .large-12 {
    width: 50%; }
  .large-push-12 {
    position: relative;
    left: 50%; }
  .large-pull-12 {
    position: relative;
    left: -50%; }
  .large-offset-11 {
    margin-left: 45.83333%; }
  .large-13 {
    width: 54.16667%; }
  .large-push-13 {
    position: relative;
    left: 54.16667%; }
  .large-pull-13 {
    position: relative;
    left: -54.16667%; }
  .large-offset-12 {
    margin-left: 50%; }
  .large-14 {
    width: 58.33333%; }
  .large-push-14 {
    position: relative;
    left: 58.33333%; }
  .large-pull-14 {
    position: relative;
    left: -58.33333%; }
  .large-offset-13 {
    margin-left: 54.16667%; }
  .large-15 {
    width: 62.5%; }
  .large-push-15 {
    position: relative;
    left: 62.5%; }
  .large-pull-15 {
    position: relative;
    left: -62.5%; }
  .large-offset-14 {
    margin-left: 58.33333%; }
  .large-16 {
    width: 66.66667%; }
  .large-push-16 {
    position: relative;
    left: 66.66667%; }
  .large-pull-16 {
    position: relative;
    left: -66.66667%; }
  .large-offset-15 {
    margin-left: 62.5%; }
  .large-17 {
    width: 70.83333%; }
  .large-push-17 {
    position: relative;
    left: 70.83333%; }
  .large-pull-17 {
    position: relative;
    left: -70.83333%; }
  .large-offset-16 {
    margin-left: 66.66667%; }
  .large-18 {
    width: 75%; }
  .large-push-18 {
    position: relative;
    left: 75%; }
  .large-pull-18 {
    position: relative;
    left: -75%; }
  .large-offset-17 {
    margin-left: 70.83333%; }
  .large-19 {
    width: 79.16667%; }
  .large-push-19 {
    position: relative;
    left: 79.16667%; }
  .large-pull-19 {
    position: relative;
    left: -79.16667%; }
  .large-offset-18 {
    margin-left: 75%; }
  .large-20 {
    width: 83.33333%; }
  .large-push-20 {
    position: relative;
    left: 83.33333%; }
  .large-pull-20 {
    position: relative;
    left: -83.33333%; }
  .large-offset-19 {
    margin-left: 79.16667%; }
  .large-21 {
    width: 87.5%; }
  .large-push-21 {
    position: relative;
    left: 87.5%; }
  .large-pull-21 {
    position: relative;
    left: -87.5%; }
  .large-offset-20 {
    margin-left: 83.33333%; }
  .large-22 {
    width: 91.66667%; }
  .large-push-22 {
    position: relative;
    left: 91.66667%; }
  .large-pull-22 {
    position: relative;
    left: -91.66667%; }
  .large-offset-21 {
    margin-left: 87.5%; }
  .large-23 {
    width: 95.83333%; }
  .large-push-23 {
    position: relative;
    left: 95.83333%; }
  .large-pull-23 {
    position: relative;
    left: -95.83333%; }
  .large-offset-22 {
    margin-left: 91.66667%; }
  .large-24 {
    width: 100%; }
  .large-offset-23 {
    margin-left: 95.83333%; }
  .large-up-1 > .column, .large-up-1 > .columns {
    float: left;
    width: 100%; }
    .large-up-1 > .column:nth-of-type(1n), .large-up-1 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-1 > .column:nth-of-type(1n+1), .large-up-1 > .columns:nth-of-type(1n+1) {
      clear: both; }
    .large-up-1 > .column:last-child, .large-up-1 > .columns:last-child {
      float: left; }
  .large-up-2 > .column, .large-up-2 > .columns {
    float: left;
    width: 50%; }
    .large-up-2 > .column:nth-of-type(1n), .large-up-2 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-2 > .column:nth-of-type(2n+1), .large-up-2 > .columns:nth-of-type(2n+1) {
      clear: both; }
    .large-up-2 > .column:last-child, .large-up-2 > .columns:last-child {
      float: left; }
  .large-up-3 > .column, .large-up-3 > .columns {
    float: left;
    width: 33.33333%; }
    .large-up-3 > .column:nth-of-type(1n), .large-up-3 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-3 > .column:nth-of-type(3n+1), .large-up-3 > .columns:nth-of-type(3n+1) {
      clear: both; }
    .large-up-3 > .column:last-child, .large-up-3 > .columns:last-child {
      float: left; }
  .large-up-4 > .column, .large-up-4 > .columns {
    float: left;
    width: 25%; }
    .large-up-4 > .column:nth-of-type(1n), .large-up-4 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-4 > .column:nth-of-type(4n+1), .large-up-4 > .columns:nth-of-type(4n+1) {
      clear: both; }
    .large-up-4 > .column:last-child, .large-up-4 > .columns:last-child {
      float: left; }
  .large-up-5 > .column, .large-up-5 > .columns {
    float: left;
    width: 20%; }
    .large-up-5 > .column:nth-of-type(1n), .large-up-5 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-5 > .column:nth-of-type(5n+1), .large-up-5 > .columns:nth-of-type(5n+1) {
      clear: both; }
    .large-up-5 > .column:last-child, .large-up-5 > .columns:last-child {
      float: left; }
  .large-up-6 > .column, .large-up-6 > .columns {
    float: left;
    width: 16.66667%; }
    .large-up-6 > .column:nth-of-type(1n), .large-up-6 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-6 > .column:nth-of-type(6n+1), .large-up-6 > .columns:nth-of-type(6n+1) {
      clear: both; }
    .large-up-6 > .column:last-child, .large-up-6 > .columns:last-child {
      float: left; }
  .large-up-7 > .column, .large-up-7 > .columns {
    float: left;
    width: 14.28571%; }
    .large-up-7 > .column:nth-of-type(1n), .large-up-7 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-7 > .column:nth-of-type(7n+1), .large-up-7 > .columns:nth-of-type(7n+1) {
      clear: both; }
    .large-up-7 > .column:last-child, .large-up-7 > .columns:last-child {
      float: left; }
  .large-up-8 > .column, .large-up-8 > .columns {
    float: left;
    width: 12.5%; }
    .large-up-8 > .column:nth-of-type(1n), .large-up-8 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-8 > .column:nth-of-type(8n+1), .large-up-8 > .columns:nth-of-type(8n+1) {
      clear: both; }
    .large-up-8 > .column:last-child, .large-up-8 > .columns:last-child {
      float: left; }
  .large-collapse > .column, .large-collapse > .columns {
    padding-right: 0;
    padding-left: 0; }
  .large-collapse .row {
    margin-right: 0;
    margin-left: 0; }
  .expanded.row .large-collapse.row {
    margin-right: 0;
    margin-left: 0; }
  .large-uncollapse > .column, .large-uncollapse > .columns {
    padding-right: 1.5625rem;
    padding-left: 1.5625rem; }
  .large-centered {
    margin-right: auto;
    margin-left: auto; }
    .large-centered, .large-centered:last-child:not(:first-child) {
      float: none;
      clear: both; }
  .large-uncentered,
  .large-push-0,
  .large-pull-0 {
    position: static;
    float: left;
    margin-right: 0;
    margin-left: 0; } }

.column-block {
  margin-bottom: 3.125rem; }
  .column-block > :last-child {
    margin-bottom: 0; }
  @media print, screen and (min-width: 33.75em) {
    .column-block {
      margin-bottom: 3.125rem; }
      .column-block > :last-child {
        margin-bottom: 0; } }

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0; }

p {
  margin-bottom: 1rem;
  font-size: inherit;
  line-height: 1.6;
  text-rendering: optimizeLegibility; }

em,
i {
  font-style: italic;
  line-height: inherit; }

strong,
b {
  font-weight: bold;
  line-height: inherit; }

small {
  font-size: 80%;
  line-height: inherit; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "refrigerator-deluxe", "arial", "sans-serif";
  font-style: "normal";
  font-weight: normal;
  color: inherit;
  text-rendering: optimizeLegibility; }
  h1 small, .h1 small,
  h2 small, .h2 small,
  h3 small, .h3 small,
  h4 small, .h4 small,
  h5 small, .h5 small,
  h6 small, .h6 small {
    line-height: 0;
    color: #cacaca; }

h1, .h1 {
  font-size: 2.5rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem; }

h2, .h2 {
  font-size: 2rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem; }

h3, .h3 {
  font-size: 1.5rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem; }

@media print, screen and (min-width: 33.75em) {
  h1, .h1 {
    font-size: 3.75rem; }
  h2, .h2 {
    font-size: 2.5rem; }
  h3, .h3 {
    font-size: 1.875rem; } }

@media print, screen and (min-width: 50em) {
  h1, .h1 {
    font-size: 4.5rem; }
  h2, .h2 {
    font-size: 3.125rem; }
  h3, .h3 {
    font-size: 1.875rem; } }

a {
  line-height: inherit;
  color: #1779ba;
  text-decoration: none;
  cursor: pointer; }
  a:hover, a:focus {
    color: #1468a0; }
  a img {
    border: 0; }

hr {
  clear: both;
  max-width: 75rem;
  height: 0;
  margin: 1.25rem auto;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #cacaca;
  border-left: 0; }

ul,
ol,
dl {
  margin-bottom: 1rem;
  list-style-position: outside;
  line-height: 1.6; }

li {
  font-size: inherit; }

ul {
  margin-left: 1.25rem;
  list-style-type: disc; }

ol {
  margin-left: 1.25rem; }

ul ul, ol ul, ul ol, ol ol {
  margin-left: 1.25rem;
  margin-bottom: 0; }

dl {
  margin-bottom: 1rem; }
  dl dt {
    margin-bottom: 0.3rem;
    font-weight: bold; }

blockquote {
  margin: 0 0 1rem;
  padding: 0.5625rem 1.25rem 0 1.1875rem;
  border-left: 1px solid #cacaca; }
  blockquote, blockquote p {
    line-height: 1.6;
    color: #8a8a8a; }

cite {
  display: block;
  font-size: 0.8125rem;
  color: #8a8a8a; }
  cite:before {
    content: "— "; }

abbr, abbr[title] {
  border-bottom: 1px dotted #0a0a0a;
  cursor: help;
  text-decoration: none; }

figure {
  margin: 0; }

code {
  padding: 0.125rem 0.3125rem 0.0625rem;
  border: 1px solid #cacaca;
  background-color: #e6e6e6;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: normal;
  color: #0a0a0a; }

kbd {
  margin: 0;
  padding: 0.125rem 0.25rem 0;
  background-color: #e6e6e6;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  color: #0a0a0a; }

.subheader {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  font-weight: normal;
  line-height: 1.4;
  color: #8a8a8a; }

.lead {
  font-size: 125%;
  line-height: 1.6; }

.stat {
  font-size: 2.5rem;
  line-height: 1; }
  p + .stat {
    margin-top: -1rem; }

ul.no-bullet, ol.no-bullet {
  margin-left: 0;
  list-style: none; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

@media print, screen and (min-width: 33.75em) {
  .medium-text-left {
    text-align: left; }
  .medium-text-right {
    text-align: right; }
  .medium-text-center {
    text-align: center; }
  .medium-text-justify {
    text-align: justify; } }

@media print, screen and (min-width: 50em) {
  .large-text-left {
    text-align: left; }
  .large-text-right {
    text-align: right; }
  .large-text-center {
    text-align: center; }
  .large-text-justify {
    text-align: justify; } }

.show-for-print {
  display: none !important; }

@media print {
  * {
    background: transparent !important;
    box-shadow: none !important;
    color: black !important;
    text-shadow: none !important; }
  .show-for-print {
    display: block !important; }
  .hide-for-print {
    display: none !important; }
  table.show-for-print {
    display: table !important; }
  thead.show-for-print {
    display: table-header-group !important; }
  tbody.show-for-print {
    display: table-row-group !important; }
  tr.show-for-print {
    display: table-row !important; }
  td.show-for-print {
    display: table-cell !important; }
  th.show-for-print {
    display: table-cell !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  .ir a:after,
  a[href^='javascript:']:after,
  a[href^='#']:after {
    content: ''; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  pre,
  blockquote {
    border: 1px solid #8a8a8a;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; }
  .print-break-inside {
    page-break-inside: auto; } }

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'],
textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 2.4375rem;
  margin: 0 0 1rem;
  padding: 0.5rem;
  border: 1px solid #cacaca;
  border-radius: 0;
  background-color: #fefefe;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #0a0a0a;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  appearance: none; }
  [type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus,
  textarea:focus {
    outline: none;
    border: 1px solid #8a8a8a;
    background-color: #fefefe;
    box-shadow: 0 0 5px #cacaca;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out; }

textarea {
  max-width: 100%; }
  textarea[rows] {
    height: auto; }

input::placeholder,
textarea::placeholder {
  color: #cacaca; }

input:disabled, input[readonly],
textarea:disabled,
textarea[readonly] {
  background-color: #e6e6e6;
  cursor: not-allowed; }

[type='submit'],
[type='button'] {
  appearance: none;
  border-radius: 0; }

input[type='search'] {
  box-sizing: border-box; }

[type='file'],
[type='checkbox'],
[type='radio'] {
  margin: 0 0 1rem; }

[type='checkbox'] + label,
[type='radio'] + label {
  display: inline-block;
  vertical-align: baseline;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0; }
  [type='checkbox'] + label[for],
  [type='radio'] + label[for] {
    cursor: pointer; }

label > [type='checkbox'],
label > [type='radio'] {
  margin-right: 0.5rem; }

[type='file'] {
  width: 100%; }

label {
  display: block;
  margin: 0;
  font-size: 0.9em;
  font-weight: normal;
  line-height: 1.5;
  color: #888; }
  label.middle {
    margin: 0 0 1rem;
    padding: 0.5625rem 0; }

.help-text {
  margin-top: -0.5rem;
  font-size: 0.8125rem;
  font-style: italic;
  color: #0a0a0a; }

.input-group {
  display: table;
  width: 100%;
  margin-bottom: 1rem; }
  .input-group > :first-child {
    border-radius: 0 0 0 0; }
  .input-group > :last-child > * {
    border-radius: 0 0 0 0; }

.input-group-label, .input-group-field, .input-group-button, .input-group-button a,
.input-group-button input,
.input-group-button button,
.input-group-button label {
  margin: 0;
  white-space: nowrap;
  display: table-cell;
  vertical-align: middle; }

.input-group-label {
  padding: 0 1rem;
  border: 1px solid #cacaca;
  background: #e6e6e6;
  color: #0a0a0a;
  text-align: center;
  white-space: nowrap;
  width: 1%;
  height: 100%; }
  .input-group-label:first-child {
    border-right: 0; }
  .input-group-label:last-child {
    border-left: 0; }

.input-group-field {
  border-radius: 0;
  height: 2.5rem; }

.input-group-button {
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  width: 1%;
  height: 100%; }
  .input-group-button a,
  .input-group-button input,
  .input-group-button button,
  .input-group-button label {
    height: 2.5rem;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1rem; }

.input-group .input-group-button {
  display: table-cell; }

fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

legend {
  max-width: 100%;
  margin-bottom: 0.5rem; }

.fieldset {
  margin: 1.125rem 0;
  padding: 1.25rem;
  border: 1px solid #cacaca; }
  .fieldset legend {
    margin: 0;
    margin-left: -0.1875rem;
    padding: 0 0.1875rem; }

select {
  height: 2.4375rem;
  margin: 0 0 1rem;
  padding: 0.5rem;
  appearance: none;
  border: 1px solid #cacaca;
  border-radius: 0;
  background-color: #fefefe;
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #0a0a0a;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
  background-origin: content-box;
  background-position: right -1rem center;
  background-repeat: no-repeat;
  background-size: 9px 6px;
  padding-right: 1.5rem;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out; }
  @media screen and (min-width: 0\0) {
    select {
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNrEkckNgDAMBBfRkEt0ObRBBdsGXUDgmQfK4XhH2m8czQAAy27R3tsw4Qfe2x8uOO6oYLb6GlOor3GF+swURAOmUJ+RwtEJs9WvTGEYxBXqI1MQAZhCfUQKRzDMVj+TwrAIV6jvSUEkYAr1LSkcyTBb/V+KYfX7xAeusq3sLDtGH3kEGACPWIflNZfhRQAAAABJRU5ErkJggg=="); } }
  select:focus {
    outline: none;
    border: 1px solid #8a8a8a;
    background-color: #fefefe;
    box-shadow: 0 0 5px #cacaca;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out; }
  select:disabled {
    background-color: #e6e6e6;
    cursor: not-allowed; }
  select::-ms-expand {
    display: none; }
  select[multiple] {
    height: auto;
    background-image: none; }

.is-invalid-input:not(:focus) {
  border-color: #cc4b37;
  background-color: #f9ecea; }
  .is-invalid-input:not(:focus)::placeholder {
    color: #cc4b37; }

.is-invalid-label {
  color: #cc4b37; }

.form-error {
  display: none;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: #cc4b37; }
  .form-error.is-visible {
    display: block; }

/* CSS Normalize */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

body {
  font-size: 1em;
  font-size: 1.1em; }
  @media print, screen and (min-width: 50em) {
    body {
      font-size: 1.25em; } }

h1, h2, h3 {
  text-transform: uppercase; }

h3 {
  line-height: 1.1; }
  h3 a {
    color: #141b2e; }
    h3 a:hover {
      color: #141b2e;
      text-decoration: underline; }

section {
  padding-top: 1.5em;
  padding-bottom: 1.5em; }
  section h2 {
    text-align: center;
    margin-bottom: 1.2em;
    position: relative; }
    section h2:before {
      content: '';
      position: absolute;
      top: calc(125% - 0.5em);
      left: calc(50% - 0.3em);
      width: 0.6em;
      height: 1em;
      padding: 10px;
      background-color: #fefefe;
      background-image: url(hex-dark.png);
      background-size: 0.3em auto;
      background-repeat: no-repeat;
      background-position: center center;
      z-index: 2; }
    section h2:after {
      content: '';
      width: 4em;
      border-bottom: solid 0.1em #141b2e;
      position: absolute;
      left: calc(50% - 2em);
      top: calc(125% - 0.05em);
      z-index: 1;
      margin-bottom: 1em; }
  section.section--light h2:before {
    background-color: #f4f4f4; }
  section.section--dark h2:before {
    background-color: #141b2e;
    background-image: url(hex-light.png); }
  section.section--dark h2:after {
    border-color: #fefefe; }

.section--light {
  background-color: #f4f4f4; }

.section--dark {
  color: white;
  background-color: #141b2e; }

.page-header {
  background-color: #141b2e;
  background: linear-gradient(#171f35, #0c111c);
  box-shadow: 0 0 10px #141b2e;
  color: white;
  font-size: 1.8em;
  text-transform: uppercase;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-family: 'refrigerator-deluxe', 'arial', 'sans-serif';
  position: relative; }
  .page-header a {
    color: white;
    transition: opacity 0.25s ease-out; }
    .page-header a:hover, .page-header a:focus, .page-header a:active {
      color: white;
      opacity: 0.75; }
  .page-header ul {
    list-style: none; }
    .page-header ul li {
      display: inline; }

nav span {
  display: block; }
  nav span a {
    display: block; }

@media print, screen and (min-width: 33.75em) {
  nav span {
    width: 50%;
    float: left;
    text-align: center; }
    nav span a {
      width: 50%;
      float: left;
      padding-top: 0.2em;
      padding-bottom: 0.2em; } }

@media print, screen and (min-width: 50em) {
  nav {
    display: flex !important;
    justify-content: space-between;
    background-size: cover; }
    nav span {
      width: 40%;
      display: flex;
      justify-content: space-around; }
    nav a {
      padding-top: 0.2em;
      padding-bottom: 0.2em; } }

.page-footer {
  background-color: #141b2e;
  min-height: 2em; }

.masthead {
  background-image: url("jp.png");
  padding-bottom: 85vw;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 85% auto;
  font-size: 1.2em; }
  @media print, screen and (min-width: 33.75em) {
    .masthead {
      background-size: 40% auto;
      padding-bottom: 3em;
      background-position: bottom right;
      min-height: 500px; } }
  .masthead h1 {
    text-align: left;
    margin-top: 0.3em;
    margin-bottom: 0.3em; }
  @media print, screen and (min-width: 33.75em) {
    .masthead p {
      max-width: 60%; } }
  .masthead a {
    display: inline-block;
    margin-right: 1em;
    margin-top: 1em;
    border-bottom: 2px solid #1779ba; }

.portfolio-item {
  padding-top: 1.5em;
  padding-bottom: 2.5em; }

ul {
  margin-left: 1.1em; }

.button {
  margin-top: 1.5em;
  border: 3px solid #141b2e;
  font-size: 1.2em;
  padding: 0.5em;
  background-color: transparent;
  font-family: "refrigerator-deluxe", "arial", "sans-serif";
  color: #141b2e;
  text-transform: uppercase;
  transition: background-color .25s ease-out,color .25s ease-out, scale .25s ease-out; }
  .button:hover, .button:focus {
    background-color: #141b2e;
    color: white; }
  .button:active {
    transform: scale(0.92); }

.contact-details {
  text-align: center; }

.contact-details p {
  font-size: 1.25em;
  margin-bottom: 1.5em; }

.contact-detail {
  font-size: 1.2em;
  margin-bottom: 1em; }
  @media print, screen and (min-width: 50em) {
    .contact-detail {
      font-size: 1.4em; } }

.logo {
  position: absolute;
  width: 2.5em;
  transition: margin .5s ease-out, width .5s ease-out;
  bottom: -0.7em;
  left: 0.75em;
  transform: none;
  filter: drop-shadow(0 0 10px #141b2e); }
  @media print, screen and (min-width: 50em) {
    .logo {
      width: 3em;
      margin-left: calc(50% - 1.5em);
      margin-right: auto;
      bottom: -0.8em;
      left: 0;
      right: 0; } }

.item:nth-of-type(n+3) {
  order: 2; }

@media all and (max-width: 799px) {
  .container {
    flex-direction: column;
    align-items: stretch; }
  .item {
    text-align: center; } }

.about-me .columns, .skills .columns {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

.contact-form label input, .contact-form label textarea {
  margin-top: 0.5em;
  font-size: 1em; }

.contact-form input.button {
  font-size: 1.2em;
  margin-top: 1.5em; }

@media screen and (max-width: 33.6875em) {
  .contact-form:after {
    margin-top: 2em;
    content: '';
    display: block;
    background-color: #bbb;
    width: 100%;
    height: 1px; } }

.contact-details {
  padding-top: 0; }
  @media screen and (max-width: 33.6875em) {
    .contact-details:before {
      margin-bottom: 1em;
      content: '';
      display: block;
      background-color: #fff;
      width: 100%;
      height: 2px; } }

@media print, screen and (min-width: 33.75em) {
  .nav-toggle {
    padding-top: 0.1em !important; } }
